*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
html{
    font-family: sans-serif;
}
.call-display{
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-wrap: wrap;
    overflow: scroll;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
    padding: 100px;

    background-color: black;
}

.guest{
    width: calc(100%/7 - 1%);
    min-width: 100px;
    position: relative;
}

img{
    display: block;
    width: 100%;
}

.name{
    content: "Pinco pallo";
    background-color: rgba(0, 0, 0, 0.4);
    font-size: 12px;
    color: white;
    padding: 5px;
    position: absolute;
    bottom: 0;
    left: 0;
}
/* .call-display figure::after{
    content: "Pincopallo";
    background-color: rgba(0, 0, 0, 0.4);
    font-size: 12px;
    color: white;
    padding: 5px;
    position: absolute;
    bottom: 0;
    left: 25px;
} */
